PORT=3000
NODE_ENV=development
# MongoDB Atlas: 
MONGODB_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/legalcase?retryWrites=true&w=majority
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:4200
